p,span,div,body,canvas
{
	padding: 0;
	margin: 0;
}
h2
{
	padding-left: 10px;
}
body
{
	background: url('../images/office.png') repeat;
	background-color: #454545;
}

a
{
	color: #222222;
	-webkit-transition: all .3s;
	-moz-transition: all 0.3s;
}
a:hover
{
	color: #ffffff;
	-webkit-transition: all .3s;
	-moz-transition: all 0.3s;
}

#header
{
	box-shadow: 0 0 5px #000000;
	width: 702px;
	overflow: auto;
	margin: 0 auto 10px auto;
	background: #ff1100;
	background: -webkit-gradient(linear, left top, left bottom, from(#ff1100), to(#cc0600)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ff1100,  #cc0600); /* for firefox 3.6+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1100', endColorstr='#cc0600'); /* for IE */
	border-radius: 0 0 10px 10px;
	box-shadow: 0 0 10px #000000;
}
#content
{
}

#z-container
{
}
#z-context
{
	box-size: border-box;
	padding: 2px;
	width: 240px;
	height: 300px;
	float: left;
	font-family: monospace;
	letter-spacing: 1px;
	color: #ff1100;
	border-right: 1px solid #ff1100;
	overflow: hidden;
}
.context-prev
{
	font-size: 8pt;
	clear: both;
	margin: -2px 0;
	color: #9f0600;
}
.context-curr
{
	font-size: 8pt;
	clear: both;
	margin: -2px 0;
	text-shadow: 0 0 10px #ff1100;
	background: #666666;
}
.context-next
{
	font-size: 8pt;
	clear: both;
	margin: -2px 0;
}

#z-game-wrapper
{
	width: 702px;
	margin: 0 auto;
	padding: 0;
	overflow: auto;
	border: 1px solid #ff1100;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 10px #000000;
	background-color: #212121;
	background: url("../images/twinkle_twinkle.png");
}
#z-canvas
{
	background-color: transparent;
}
#z-status
{
	width: 700px;
	padding: 5px;
	background: transparent;
	border-top: 1px solid #ff1100;
}
#line-prev,#line-prev2,#line-next,#line-next2,#line-curr,#curr-letter,#next-line-prompt
{
	font-size: 10pt;
	letter-spacing: 1px;
	color: #ff1100;
	text-shadow: 0 0 5px #ff1100;
	font-family: monospace;
}
#line-prev,#line-next
{
	font-size: 12pt;
}
#line-curr
{
	font-size: 14pt;
	padding: 0 2px;
	border: 1px solid #ff1100;
}
#next-line-prompt
{
	font-size: 14pt;
	color: #ffb100;
	text-shadow: 0 0 5px #ffb100;
}
#curr-letter
{
	font-size: 14pt;
	color: #ffffff;
	text-shadow: 0 0 5px #ffffff;
}
#letters-typed,#line-prev,#line-prev2
{
	color: #9f0600;
	text-shadow: 0 0 5px transparent;
}

.points
{
	color: #ffb100;
	text-shadow: 0 0 5px #ffb100;
}
.line-number
{
	font-size: 6pt;
	margin: 3px 5px 0 0;
	float: left;
	display: block;
	text-align: right;
	width: 20px;
}

.z-menu-item
{
	display: block;
	width: 300px;
	left: 50%;
	margin: 10px 0 0 -150px;
}

#pick-level
{
	float: left;
	margin: 20px;
	width: 40%;
}
#reset-levels
{
	float: right;
	margin: 20px;
	width: 40%;
}
#levels-menu
{
	z-index: 80;
	display: none;
	position: absolute;
	box-sizing: border-box;
	padding: 10px;
	width: 660px;
	top: 0;
	left: 50%;
	margin-left: -330px;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 1px 5px #222222;
	background: #202020;
}
#levels-menu img
{
	width: 40px;
	height: 40px;
	float: left;
	margin: -5px 10px 0 0;
}
#levels-menu #weapons a, #weapons h3
{
	color: #C60F10;
	text-shadow: 0 1px 1px #454545;
}
#levels-menu #shields a, #shields h3
{
	color: #3399ff;
	text-shadow: 0 1px 1px #454545;
}
#levels-menu #skill a, #skill h3
{
	color: #22cc44;
	text-shadow: 0 1px 1px #454545;
}
.levels-option
{
	font-size: 12pt;
	font-weight: bold;
	display: block;
	padding: 10px;
	border-radius: 5px 5px 5px 5px;
	transition: all .2s;
}
a.levels-option.completed
{
	color: #ffffff !important;
	background: url('../images/check-icon.png') no-repeat right;
	box-shadow: 1px 1px 3px #222222;
}
a.levels-option.locked
{
	color: #454545 !important;
	background: url('../images/lock-icon.png') no-repeat right;
	box-shadow: 1px 1px 3px #222222;
}
a.levels-option:hover
{
	color: #ffffff !important;
	text-shadow: 0 0 3px #ffffff !important;
	transition: all .2s;
}
a.levels-selected
{
	background: #454545;
	box-shadow: 1px 1px 3px #222222;
}
a.levels-selected:hover
{
	color: #cccccc !important;
	text-shadow: inherit !important;
	transition: all .2s;
}
div.levels-option-reward
{
	margin-top: 4px;
	font-size: 7pt;
	font-weight: normal;
}

#page-fade
{
	z-index: 50;
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.75;
	background: black;
}


#bug
{
	display: none;
	z-index: 80;
	position: relative;
	box-sizing: border-box;
	padding: 10px;
	width: 320px;
	top: 0;
	left: 50%;
	margin-left: -160px;
}
#bug > div
{
	padding: 5px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 5px #222222;
	background: #454545;
	color: orange;
	float: left;
	width: 200px;
	margin-top: 10px;
}
#bug > img 
{
	width: 100px;
	float: left;
}
#bug-code
{
	font-size: 14pt;
	padding: 2px 4px;
	margin: 5px 0 0 0;
	border: 2px solid #ff1100;
}